@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

body{
    background-image: url("imagens/fundo-madeira.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
}
section#telefone {
    position: absolute;
    width: 311px;
    height: 627px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("imagens/frame-iphone.png");
    background-repeat: no-repeat;
}

iframe#tela{
    position: relative;
    top: 12.8%;
    left: 7%;
    width: 270px;
    height: 470px;
}

section#redes_sociais{
    float: right;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.247);
}

section#redes_sociais > a > img{
    width: 50px;
    display: block;
    margin: 10px;
    border-radius: 50%;
    box-sizing: border-box;
}

section#redes_sociais > a > img:hover{
    border: 2px solid rgba(255, 255, 255, 0.733);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px black;
    transition: transform 0.5s, border 1s;
}
